$colors: (
  "blue": #9FC4EC,
  "lightBlue": #C9DAF8,

  "green": #93C47D,
  "lightGreen": #B6D7A8,

  "orange": #F6B26B,
  "lightOrange": #F9CB9C,
);

@mixin colored($color) {
  border           : 1px solid $color;
  background-color : $color;
}

@each $name, $color in $colors {
  .#{$name} {
    @include colored($color)
  }
}
