@import '~bootstrap/scss/bootstrap.scss';

$fa-font-path: "~fork-awesome/fonts";
@import "~fork-awesome/scss/fork-awesome.scss";

// can add Boostrap overrides, additional Sass/CSS below...

@import './colors.scss';

html, body, button {
  background-color : #F9F9F9;
  font-family      : Roboto;
  font-weight      : 300;
  color            : #333;
}

a {
  color : #333333;
}

a:hover {
  color : black;
}

.top-line {
  font-size   : 3em;
  font-weight : 100;
  line-height : 1em;
  margin      : 1.5% 0 2% 0%;
  padding-bottom: 1.5%;
  border-bottom: 1px solid black;
}

.section {
  text-align  : right;
  font-style  : italic;
}

.social-icon {
  margin-left : 20px;
}

.name {
  font-size   : 9em;
  line-height : 1em;
  margin-top  : 7%;
  cursor      : pointer;
}

.tile {
  width     : 100%;
  font-size : 3em;
  padding   : 1.3em 0em;
}

.tile:hover {
  border : 1px solid grey;
}

.tile-project {
  width         : 100%;
  font-size     : 2em;
  padding       : 1.3em 0em;
  margin-bottom : 25px;
}

.tile-project:hover {
  border : 1px solid grey;
}

.message {
  text-align  : center;
  font-size   : 3em;
  line-height : 1em;
  padding     : 10px 20px;
}

.projects-header {
  font-size     : 1.5em;
  margin-bottom : 25px;
}

#project-description {
  display : none;
}

.project-description {
  padding       : 10px;
  margin-bottom : 25px;

  a {
    text-decoration : underline;
  }
}

.fa-close:hover {
  background-color : #dedede;
}

.textline {
  font-size  : 2em;
  margin-top : 25px;
}

.textDesc {
  font-size  : 1.6em;
}
