// Reduce the size of the `.css` file sent to web clients;
// _c.f._ https://getbootstrap.com/docs/5.0/customize/optimize/
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/maps';
@import '~bootstrap/scss/utilities';

@import '~bootstrap/scss/reboot';
@import '~bootstrap/scss/containers';
@import '~bootstrap/scss/grid';

@import '~bootstrap/scss/utilities/api';

$fa-font-path: "~fork-awesome/fonts";
@import "~fork-awesome/scss/fork-awesome.scss";

// can add Boostrap overrides, additional Sass/CSS below...

@import './colors.scss';

html, body, button {
  background-color : #F9F9F9;
  font-family      : Roboto;
  font-weight      : 300;
  color            : #333;
}

a {
  color : #333333;
}

a:hover {
  color : black;
}

.top-line {
  font-size   : 3em;
  font-weight : 100;
  line-height : 1em;
  margin      : 1.5% 0 2% 0%;
  padding-bottom: 1.5%;
  border-bottom: 1px solid black;
}

.section {
  text-align  : right;
  font-style  : italic;
}

.social-icon {
  margin-left : 20px;
}

.name {
  font-size   : 9em;
  line-height : 1em;
  margin-top  : 7%;
  cursor      : pointer;
}

.tile {
  width     : 100%;
  font-size : 3em;
  padding   : 1.3em 0em;
}

.tile:hover {
  border : 1px solid grey;
}

.list-component-tile {
  width         : 100%;
  font-size     : 2em;
  padding       : 1.3em 0em;
  margin-bottom : 25px;
}

.list-component-tile:hover {
  border : 1px solid grey;
}

.message {
  text-align  : center;
  font-size   : 3em;
  line-height : 1em;
  padding     : 10px 20px;
}

.list-component-header {
  font-size     : 1.5em;
  margin-bottom : 25px;
}

#list-component-description {
  display : none;
}

.list-component-description {
  padding       : 10px;
  margin-bottom : 25px;
  position      : relative;

  a {
    text-decoration : underline;
  }

  .close {
    position : absolute;
    top      : 10px;
    right    : 10px;
  }

  .date {
    position : absolute;
    top      : 10px;
    right    : 2 * 10px + 20px;
  }
}

.fa-close:hover {
  background-color : #dedede;
}

.textDesc {
  font-size  : 1.6em;
}

.link {
  font-size   : 1.6em;
  font-weight : 500;
  line-height : 1.2;
}
